In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [111]:
#Loading data as df (dataframe)
df = pd.read_excel('Investor Report-06_21_2025.xlsx', sheet_name=0)
df.head(2)

,Case Name,Account Name,State,Rate,Provider Client,DOL,Subject,Name of Procedure,Case Stage,Stage Chg Dt,...,Inv 1 Pd Dt,Inv 1 Pd $,Inv 2 Pd Dt,Inv 2 Pd $,Inv 3 Pd Dt,Inv 3 Pd $,Funding Status,Case Notes,Lien Notes,Case Status
0,Kami Orton,ALLRED VOGT & STUART,NaN,NaN,Durango Surgery Center,NaN,Surgery 1,NaN,Omni Purchase,09/21/2023,...,NaN,0.0,NaN,0.0,NaN,0.0,Purchased,NaN,NaN,Case was transferred per Rachelle \ndeal dire...
1,Chaves Still,Baric Law,California,NaN,Precision Medical Products,03/23/2023,Med Device 1,NaN,PENDING,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,Declined,Mgr: Jonathan 833-467-2022,Premise,VETTING \nsent vetting emailwith new bill-HD \...

In [112]:
# Antes de eliminar variables irrelevantes eliminamos los registros que no tienen fecha de pago
df = df.dropna(subset=['Pay Dt'])

In [113]:
# Data type casting (corrections)
categorical_columns = ['Account Name','Provider Client','Funding Status','Subject']
df[categorical_columns] = df[categorical_columns].astype('category')

numerical_columns = ['Bill Amt', 'Purch Amt','Pay Amt']
df[numerical_columns] = df[numerical_columns].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4240 entries, 26 to 8271
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Case Name          4240 non-null   object
 1   Account Name       4240 non-null   category
 2   State              74 non-null     object
 3   Rate               828 non-null    object
 4   Provider Client    4228 non-null   category
 5   DOL                3315 non-null   object
 6   Subject            4240 non-null   category
 7   Name of Procedure  3528 non-null   object
 8   Case Stage         4240 non-null   object
 9   Stage Chg Dt       4234 non-null   object
 10  DOS                4227 non-null   object
 11  Batch Dt           4204 non-null   object
 12  Bill Amt           4239 non-null   float64
 13  Purch Amt          4239 non-null   float64
 14  Purch Dt           4219 non-null   object
 15  Investor 1         4238 non-null   object
 16  Port 1             4202 non-null   object
 17  Inv 1 Purch $      3638 non-null   float64
 18  Investor 2         761 non-null    object
 19  Port 2             600 non-null    object
 20  Inv 2 Purch $      3591 non-null   float64
 21  Pay Dt             4240 non-null   object
 22  Pay Amt            4231 non-null   float64
 23  Inv 1 Pd Dt        3804 non-null   object
 24  Inv 1 Pd $         4013 non-null   float64
 25  Inv 2 Pd Dt        243 non-null    object
 26  Inv 2 Pd $         3596 non-null   float64
 27  Inv 3 Pd Dt        2 non-null      object
 28  Inv 3 Pd $         3578 non-null   float64
 29  Funding Status     4228 non-null   category
 30  Case Notes         263 non-null    object
 31  Lien Notes         116 non-null    object
 32  Case Status        2818 non-null   object
dtypes: category(4), float64(8), object(21)
memory usage: 1.0+ MB

In [114]:
df['Account Name'] = (
    df['Account Name']
    .astype(str)
    .str.strip()
    # .str.lower()
    .str.replace(r'\s+', ' ', regex=True)          # Espacios múltiples → uno
    .str.replace(r'[^\w\s&]', '', regex=True)      # Eliminar símbolos raros (excepto &)
    .str.strip()
)
# Creación de columna de limpieza
df['AccountName_Clean'] = np.nan

In [115]:
unique_clean = []

from rapidfuzz import fuzz

for firm in df['Account Name'].unique():
    clean = firm.strip()
    match_found = False
    for ref in unique_clean:
        if fuzz.ratio(clean, ref) > 80:   # Umbral de similitud
            match_found = True
            df.loc[df['Account Name'] == firm, 'AccountName_Clean'] = ref
            break
    if not match_found:
        unique_clean.append(clean)
        df.loc[df['Account Name'] == firm, 'AccountName_Clean'] = clean

/tmp/ipykernel_13413/3216805034.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'A&T Legal Group' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['Account Name'] == firm, 'AccountName_Clean'] = clean

In [116]:
# --- Reemplazar columna original por la limpia ---
df['Account Name'] = df['AccountName_Clean']
df = df.drop('AccountName_Clean', axis=1)

print(list(df['Account Name'].unique()))

['A&T Legal Group', 'Aaron Law Group', 'Accident Fighters APC', 'Accident Lawyers Group Pros', 'Ace Law Firm  California', 'Ace Law Group', 'ACTS Law Firm', 'Adamson Ahdoot LLP', 'Agwara Law', 'Alexandroff Law Group', 'Allen Injury Law LLC', 'Allison Law Firm', 'Angulo Law Group', 'Anthony Paglia', 'Ashton & Price LLP', 'Atkinson Watkins & Hoffman Attorneys', 'Avery Injury Law', 'Avrek Law', 'Ayala Morgan & Buzzard', 'BANAFSHE LAW FIRM PC', 'Baradat & Paboojian', 'BD & J Law Firm', 'Benjamin Nadig Law', 'Benson Allred Injury Law', 'Berg Law  California', 'Bertoldo Carter Smith & Mullen Attorneys', 'Beverly Law', 'Bighorn Law  Las Vegas', 'Blackburn Wirth Injury Team', 'Boley & Aldabbagh Attorneys', 'Bonakdar Law Firm', 'Boohoff Law', 'Bruning Law Firm', 'Burger Law', 'Burris & Thomas Law', 'Caffey Law Firm', 'California Accident Law Firm LOP', 'Call Jacob  The Law Offices of Jacob Emrani', 'Cardenas Law Group', 'Carpenter & Zuckerman', 'CARTER WOLDEN CURTIS LLP', 'Christiansen Trial Lawyers', 'Clark Law Group', 'Cohen & Marzban Personal Injury Attorneys', 'Compass Law Group', 'Confidence Legal', 'Connell Law', 'Cook Barkett Ponder & Wolz', 'Corey J Hilton Law', 'Craig P Kenny & Associates', 'Culver Legal', 'D & Z Law Group LLP', 'David W Fassett Personal Injury Law', 'David Warso', 'Davis Law Group  Las Vegas', 'De Castroverde Law', 'De Santis Law Center APC', 'Debbie Taussig Law', 'Denton Cho Attorneys', 'DeWitt Algorri', 'Dias Hall Law', 'Dimopoulos Injury Law', 'Downtown LA Law Group', 'DR Patti & Associates', 'Drake Law Group', 'Dreyer Babich Buccola Wood Campora', 'Drummond Law Firm', 'Dunnion law firm', 'Edzant Price LLP', 'Eglet Adams Law', 'Ellen Burford  Attorney at Law', 'ER Injury Attorneys', 'Eric Blank Injury Attorneys', 'Eric Chen Law', 'Etehad Law APC', 'Farahi Law Firm', 'Fletcher Law Firm', 'Folinsky Law', 'FRF Law Group  Florida', 'Fuller Law Practice', 'G Dallas Horton & Associates', 'Garg Golden Law Firm', 'George Larison Way', 'Gilbert & Stern LLP', 'Gina Corena Law', 'Glotzer & Leib LLP LOP', 'Goldberg Injury Law', 'Goldblatt  Singer', 'Gonwa Law', 'Gould & Jefferson of Beverly Hills', 'Habbas & Associates', 'Hale Injury Law', 'Hanson & Mouri Personal Injury Law', 'Harris Personal Injury Lawyers  CA', 'Harrison Advocates PLLC', 'Hassakis & Hassakis PC', 'Henness & Haight', 'Hicks & Brasier', 'Hipskind & McAninch', 'Howell LLP', 'J&Y Law Injury and Accident Attorneys', 'J Hartley Law APC', 'Jacoby & Meyers  CA', 'James Ream office', 'Jenny Legal', 'Jerez Law', 'Joan M Lauricella', 'John Hustava Attorney at Law', 'JT LEGAL GROUP', 'Juan Huerta Law Office', 'Kang & Associates', 'Kaplan Young', 'Karns & Karns Law Firm', 'Khorshidi Law', 'Kolker Law Firm', 'Ladah Law', 'Lalezary Law Firm  CA Law Brothers', 'Larian Law Firm', 'Larry H Parker Law', 'Law Firm of Oscar A Garza', 'Law Office of Adam Sorrells', 'Law Office of Arash Khorsandi', 'Law office of Brian Breiter', 'Law Office of Daniel C Allen', 'Law Office of David Sampson', 'Law Office of Dennis C Brue', 'LAW OFFICE OF EDNA FELIX', 'Law Office of Matt Young', 'Law Office of Stephen Reid', 'Law Office of Timothy W Mazzela', 'Law Office of Victor M Cardoza', 'Law Offices of Glen A Howard', 'Law Offices of Michael A Kahn', 'Law Offices Of Mickey Fine  CA', 'Law Offices of Vahag Matevosian', 'Lawrence C Hill & Associates', 'LBC Law Group', 'Legal One Law Group', 'LEGAL RIGHTS LAW CENTER', 'Leonard S Becker Law  CA', 'Lerner & Rowe  Las Vegas', 'Lloyd Baker Injury Attorneys', 'Los Angeles City Law', 'M&Y Personal Injury Lawyers', 'Maier Gutierrez & Associates', 'Maison Law', 'Marshall Injury Law', 'Marzola & Ruiz Law Group', 'Mazzeo Law', 'McAllister Law Firm LLC', 'McCrary Law Firm', 'Menocal Law Group', 'Michael B Goldstein A Professional Law Corporation', 'Mickey Keenan Law', 'Miner & Kelly Law Office', 'Missouri Injury Law Firm', 'Mokaram Law Firm', 'Morgan & Morgan  Las Vegas', 'Morgan & Morgan CA', 'Moss Berg Injury Law', 'Mullins & Trenchak Law', 'Muslusky Law', 'Naqvi Injury Law', 'Neal Hyman Law', 'Nevada Legal Group', 'Nordstrand Black', 'Novak Law Firm LOP', 'Nwogbe Law Group', 'Oliveros Law  Florida', 'Omega Law Group', 'Paboojian Inc', 'Pacific West Injury Law', 'Panish Shea Ravipudi LLP', 'Panos Lagos Law', 'Parke Law Firm', 'Paul Padda Law', 'Paul Powell Law Firm', 'Phoong Law  CA', 'Pomponio Injury Law', 'Precision Medical Products', 'Price Beckstrom Law', 'Puma Management Group', 'Qualey Law Firm', 'Quinlan Kershaw & Fanucchi PC', 'RA and Associates', 'Roach Law Car Accident Lawyers', 'Roberts & Spiegel Injury Lawyers', 'Rodney C Haron Attorney At Law', 'RRCC Firm', 'Russ Brown Attorneys', 'Salameh Law Group', 'Schurmer Reese Davies', 'Sedaghati Law', 'Sergio C Garcia Law  CA', 'Setareh Law Firm', 'SHK Law Corporation', 'Sidell Injury Law', 'Sky Law Group', 'Solution Now Law Firm', 'Spencer Injury Lawyers', 'Steiner & Libo Attorneys', 'Steve Dixon Law', 'Stoll Nussbaum & Polakov Stoll Law', 'Sullivan Rivera osuna & Sullivan', 'Sunset West Legal Group PC', 'Sweet JamesLLP', 'Sweet Law', 'Tanner Law Firm', 'The 702 Firm', 'The Capital Law Firm', 'The Law Collective', 'The Law Firm of Kevin Taguchi', 'The Law Office of Jeffrey Dawson', 'The Law Offices of Alan Rubinstein PLC', 'The Law Offices of Arsen Sarapinian PC', 'The Law Offices of John P Burns', 'The May Firm Injury Lawyers', 'The Medrala Law Firm', 'The Ruiz Law Firm', 'The Simon Law Group', 'The Sloan Firm', 'Tim Dominguez Law', 'Tim Jones PC', 'Tingey Injury Law Firm', 'Torem & Associates  CA', 'Tuley Law Office', 'Valarie Fujii Law Offices', 'Valiente Mott', 'Vannah & Vannah Law Firm', 'Vasquez Law  Las Vegas', 'Vaziri Law Group', 'VC2 Law', 'Weilbacher & Weilbacher APC Attorneys At Law', 'West Coast Trial Lawyers', 'WestonReid', 'Willoughby Shulman Injury Lawyers', 'Wilshire Law Firm  CA', 'Womick Law Firm CHTD', 'Yagoubzadeh Law Firm', 'Yan Kenyon Law', 'Yerushalmi Law Firm', 'YMPK Law']

In [117]:
df = df[df['Account Name'].map(df['Account Name'].value_counts()) > 6]
print(list(df['Account Name'].unique()))

['Ace Law Group', 'Angulo Law Group', 'Atkinson Watkins & Hoffman Attorneys', 'BD & J Law Firm', 'Benjamin Nadig Law', 'Benson Allred Injury Law', 'Blackburn Wirth Injury Team', 'Cardenas Law Group', 'David W Fassett Personal Injury Law', 'Dimopoulos Injury Law', 'ER Injury Attorneys', 'Fuller Law Practice', 'G Dallas Horton & Associates', 'Goldberg Injury Law', 'Jacoby & Meyers  CA', 'Ladah Law', 'Lalezary Law Firm  CA Law Brothers', 'Law Office of Arash Khorsandi', 'Law Office of Stephen Reid', 'Law Office of Victor M Cardoza', 'Lawrence C Hill & Associates', 'Lloyd Baker Injury Attorneys', 'Mullins & Trenchak Law', 'Muslusky Law', 'Naqvi Injury Law', 'Neal Hyman Law', 'Nwogbe Law Group', 'Parke Law Firm', 'RRCC Firm', 'Sidell Injury Law', 'Valarie Fujii Law Offices', 'Vannah & Vannah Law Firm', 'VC2 Law', 'Willoughby Shulman Injury Lawyers', 'Wilshire Law Firm  CA', 'Yan Kenyon Law']

In [118]:
df = df[df['Provider Client'].map(df['Provider Client'].value_counts()) > 3]
print(list(df['Provider Client'].unique()))

['Pueblo Medical Imaging', 'LVR', 'Durango Surgery Center', 'Valley Health System', 'Parkway Surgery Center', 'Suarez Physical Therapy', 'Jackson Physical Therapy', 'Precision Medical Products', 'Simpson Chiropractic', 'Ascension Medical Center', 'OpenSided MRI of Las Vegas', 'LVC Surgery Center', 'Surgical Arts Centre']

In [119]:
df = df[df['Subject'].map(df['Subject'].value_counts()) > 3]
print(list(df['Subject'].unique()))

['Lien1', 'Lien2', 'imaging 1', 'imaging 2', 'imaging 3', 'imaging1', 'imaging2', 'pain1', 'imaging3', 'Imaging1', 'Imaging2', 'Imaging 1', 'Imaging 2', 'Imaging 3', 'Imaging 5', 'Imaging 4', 'Pain 1', 'Imaging 1 ', 'Imaging 6', 'imaging4', 'pt1', 'PT 1', 'Physical 1', 'physicaltherapy 1', 'Med Device 1', 'chiro 1', 'chiro1', 'device1', 'Med Device 2', 'imaging5', 'imaging6', 'Imaging3', 'Imaging4', 'Imaging 7', 'Imaging 8', 'Imaging 9', 'Imaging 11', 'physicaltherapy1', 'imaging 4', 'imaging 5', 'imaging 6', 'Funding1', 'Lien3', 'Lien4', 'Imaging5', 'Imaging6', 'Pain1', 'imaging 7', 'imaging 8', 'imaging 9', 'physical therapy 1', 'physical therapy', 'Imaging 10', 'Surgery 1', 'Med Device 1 ', 'Lien5']

In [120]:
len(list(df['Account Name'].unique()))
# Quedaron un total de 251 categorías

36

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3698 entries, 45 to 8231
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Case Name          3698 non-null   object
 1   Account Name       3698 non-null   object
 2   State              13 non-null     object
 3   Rate               646 non-null    object
 4   Provider Client    3698 non-null   category
 5   DOL                2909 non-null   object
 6   Subject            3698 non-null   category
 7   Name of Procedure  3354 non-null   object
 8   Case Stage         3698 non-null   object
 9   Stage Chg Dt       3692 non-null   object
 10  DOS                3695 non-null   object
 11  Batch Dt           3686 non-null   object
 12  Bill Amt           3697 non-null   float64
 13  Purch Amt          3697 non-null   float64
 14  Purch Dt           3680 non-null   object
 15  Investor 1         3698 non-null   object
 16  Port 1             3669 non-null   object
 17  Inv 1 Purch $      3173 non-null   float64
 18  Investor 2         622 non-null    object
 19  Port 2             547 non-null    object
 20  Inv 2 Purch $      3128 non-null   float64
 21  Pay Dt             3698 non-null   object
 22  Pay Amt            3689 non-null   float64
 23  Inv 1 Pd Dt        3299 non-null   object
 24  Inv 1 Pd $         3498 non-null   float64
 25  Inv 2 Pd Dt        230 non-null    object
 26  Inv 2 Pd $         3132 non-null   float64
 27  Inv 3 Pd Dt        1 non-null      object
 28  Inv 3 Pd $         3115 non-null   float64
 29  Funding Status     3689 non-null   category
 30  Case Notes         101 non-null    object
 31  Lien Notes         73 non-null     object
 32  Case Status        2375 non-null   object
dtypes: category(3), float64(8), object(22)
memory usage: 917.0+ KB

In [122]:
df.head()

,Case Name,Account Name,State,Rate,Provider Client,DOL,Subject,Name of Procedure,Case Stage,Stage Chg Dt,...,Inv 1 Pd Dt,Inv 1 Pd $,Inv 2 Pd Dt,Inv 2 Pd $,Inv 3 Pd Dt,Inv 3 Pd $,Funding Status,Case Notes,Lien Notes,Case Status
45,Derek Bell,Ace Law Group,NaN,NaN,Pueblo Medical Imaging,NaN,Lien1,MRI Joint Upper Extremity wo Dye,Completed,01/13/2022,...,06/21/2021,825.0,NaN,0.0,NaN,0.0,Purchased,NaN,"02,20 Settled","2/20/20: Settled per case mgr, \nPaid complete..."
46,Derek Bell,Ace Law Group,NaN,NaN,Pueblo Medical Imaging,NaN,Lien2,MRI Cervical Spine wo Contrast,Completed,01/13/2022,...,06/21/2021,825.0,NaN,0.0,NaN,0.0,Purchased,NaN,NaN,"2/20/20: Settled per case mgr, \nPaid complete..."
53,Rhonda Anderson,Ace Law Group,NaN,NaN,LVR,12/10/2018,imaging 1,MRI Cervical Spine wo Contrast,Completed,01/30/2023,...,NaN,0.0,NaN,0.0,NaN,0.0,Purchased,NaN,NaN,In Litigation \n
54,Rhonda Anderson,Ace Law Group,NaN,NaN,LVR,12/10/2018,imaging 2,MRI Lumbar Spine wo Contrast,Completed,01/30/2023,...,NaN,0.0,NaN,0.0,NaN,0.0,Purchased,NaN,NaN,In Litigation \n
55,Rhonda Anderson,Ace Law Group,NaN,NaN,LVR,12/10/2018,imaging 3,MRI Thoracic Spine wo Contrast,Completed,01/30/2023,...,NaN,0.0,NaN,0.0,NaN,0.0,Purchased,NaN,NaN,In Litigation \n

In [123]:
df = df.dropna(subset=['Purch Amt'])
df = df[df['Purch Amt'] != 0]

In [124]:
df = df[df['Purch Amt'] != df['Pay Amt']]

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3673 entries, 45 to 8231
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Case Name          3673 non-null   object
 1   Account Name       3673 non-null   object
 2   State              13 non-null     object
 3   Rate               645 non-null    object
 4   Provider Client    3673 non-null   category
 5   DOL                2887 non-null   object
 6   Subject            3673 non-null   category
 7   Name of Procedure  3338 non-null   object
 8   Case Stage         3673 non-null   object
 9   Stage Chg Dt       3667 non-null   object
 10  DOS                3671 non-null   object
 11  Batch Dt           3663 non-null   object
 12  Bill Amt           3673 non-null   float64
 13  Purch Amt          3673 non-null   float64
 14  Purch Dt           3657 non-null   object
 15  Investor 1         3673 non-null   object
 16  Port 1             3645 non-null   object
 17  Inv 1 Purch $      3151 non-null   float64
 18  Investor 2         622 non-null    object
 19  Port 2             547 non-null    object
 20  Inv 2 Purch $      3106 non-null   float64
 21  Pay Dt             3673 non-null   object
 22  Pay Amt            3664 non-null   float64
 23  Inv 1 Pd Dt        3278 non-null   object
 24  Inv 1 Pd $         3474 non-null   float64
 25  Inv 2 Pd Dt        230 non-null    object
 26  Inv 2 Pd $         3110 non-null   float64
 27  Inv 3 Pd Dt        1 non-null      object
 28  Inv 3 Pd $         3093 non-null   float64
 29  Funding Status     3665 non-null   category
 30  Case Notes         97 non-null     object
 31  Lien Notes         72 non-null     object
 32  Case Status        2358 non-null   object
dtypes: category(3), float64(8), object(22)
memory usage: 910.8+ KB

In [126]:
df.to_excel("Portfolio Puma MGM.xlsx", index=False)